src/main/mule/swiggy-customers-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="swiggy-customers-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="swiggy-customers-sapi-config" api="resource::d0205d5f-f064-4d78-b0f0-1e4d55cdf281:swiggy-customers-sapi:1.0.2:raml:zip:swiggy-customers-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="swiggy-customers-sapi-main">
        <http:listener config-ref="swiggy-customers-sapi-httpListenerConfig" path="/api/*" allowedMethods="GET, POST">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="swiggy-customers-sapi-config" />
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="swiggy-customers-sapi-console">
        <http:listener config-ref="swiggy-customers-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="swiggy-customers-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customers\(id):application\json:swiggy-customers-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="fname" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.fname]]></ee:set-variable>
				<ee:set-variable variableName="lname" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.lname]]></ee:set-variable>
				<ee:set-variable variableName="pone" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.phone]]></ee:set-variable>
				<ee:set-variable variableName="email" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.email]]></ee:set-variable>
				<ee:set-variable variableName="cid" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.cid]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="5b262bfc-64fa-43a1-9ca8-5eada72868a4" name="updatecustomerbyidFlow"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Customer updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers:swiggy-customers-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="41ce0938-3058-4651-96a6-615448100789" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="page" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.page]]></ee:set-variable>
				<ee:set-variable variableName="PageSize" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.pageSize]]></ee:set-variable>
				<ee:set-variable variableName="fname" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.fname default '']]></ee:set-variable>
				<ee:set-variable variableName="lname" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.lname]]></ee:set-variable>
				<ee:set-variable variableName="email" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.email]]></ee:set-variable>
				<ee:set-variable variableName="pnumber" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.pnumber]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="getallbynameFlow" doc:id="98f5e054-6c7c-4aab-b4d3-a14833463836" name="getallbynameFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="11a06357-7695-4982-b199-65e6ad14a62d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload 

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\customers:swiggy-customers-sapi-config" />
    </flow>
    <flow name="get:\customers\(id):swiggy-customers-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="cid" ><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.cid]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getcustomerbyid" doc:id="2df1ab68-6026-4167-a049-066e3aead7ba" name="getcustomerbyidFlow"/>
		<logger level="INFO" message="get:\customers\(id):swiggy-customers-sapi-config" />
    </flow>
    <flow name="post:\customers\(id)\addresses:application\json:swiggy-customers-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:message >
				<ee:set-attributes ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.phone]]></ee:set-attributes>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
				<ee:set-variable variableName="fname" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.fname]]></ee:set-variable>
				<ee:set-variable variableName="lname" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.lname]]></ee:set-variable>
				<ee:set-variable variableName="email" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.email]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="9540e507-8677-4178-bd6e-efc2017283df" name="updatecustomerbyidFlow"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  houseNumber: "101,Samhitha Rainbow",
  street: "vibgyor high school road",
  city: "Bangalore",
  pincode: "560066",
  addressType: "billing"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:swiggy-customers-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="36773d84-b8eb-4b5e-87a2-4ca022c56618" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="originalCustomer" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Addcustomer" doc:id="8c8e11ca-c462-476e-af92-cff34f9b82f6" name="Addcustomer"/>
		<logger level="INFO" message="post:\customers:application\json:swiggy-customers-sapi-config" />
    </flow>
</mule>
